

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h2>Filtrar por: </h2>
        </div>
        <div class="col-md-2">
            <h3>Bestsellers: </h3>
            <input type="checkbox" [(ngModel)]="bestsellerFilter" />
        </div>
        <div class="col-md-2">
            <h3>Nuevos: </h3>
            <input type="checkbox" [(ngModel)]="nuevoFilter" />
        </div>
        <div class="col-md-2">
            <h3>Descuentos: </h3>
            <input type="checkbox" [(ngModel)]="descuentoFilter" />
        </div>
    </div>
</div>
<div>

        <section class="wrapper">
        <div class="container-big">
            <div>
                <img src="" class="big-logo"/>
                <h1 class="heading">
                     Nuestros libros
                </h1>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4" *ngFor = "let book of getFilteredBooks()">
                            <div class="carbox">
                                <a class="img-carbox" routerLink="/books/{{book.id}}">
                                <img src= '{{book.image}}' />
                              </a>
                                <div class="carbox-content">
                                    <h4 class="carbox-title">
                                        <a routerLink="/books/{{book.id}}"> {{book.name}}
                                      </a>
                                    </h4>
                                    <p class="">
                                            {{book.description}}
                                    </p>
                                </div>
                                <div class="carbox-read-more">
                                    <a routerLink="/books/{{book.id}}" class="btn btn-link btn-block">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    </div>