<div class="float-right">
    <small>
        Your cart:
            <span *ngIf="cartService.cart.itemCount > 0">
                {{ cart.itemCount }} item(s)
                {{ cart.cartPrice | currency:"USD":"symbol":"2.2-2" }}
            </span>
            <span *ngIf="cartService.cart.itemCount == 0">
                (empty)
            </span>
    </small>
    <button class="btn btn-sm bg-dark text-white"
        [disabled]="cartService.cart.itemCount == 0">
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>